*
<style>
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
</style>

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
    margin: 15px;
}

h1 {
    text-align: right;
}

header {
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
    color: #FAEBD7;
    background-color: #6495ED;
}
ul {
    list-style-type: none;
    margin: 15px;
}

li{
    text-align: right;
    margin-top: 5px;
    margin-bottom: 5px;
}

header a:link, header a:visited {
    color: #FAEBD7;
    text-decoration: none;
}

header a:hover {
    color: white;
    text-decoration: underline;
}
header a:active {
    color: #DEB887;
}

header a.active {
    background-color: #4CAF50;
    color: white;
}

a:link, a:visited {
    color: #6495ED;
    text-decoration: none;
}

a:active {
    color: #DEB887;
}

a:hover {
    text-decoration: underline;
}

main {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
    background: #FAEBD7;
}

article a:link, article a:visited {
    color: black;
    text-decoration: none;
}

article a:active {
    color: #DEB887;
}

article a:hover {
    color: #6495ED;
    text-decoration: underline;
}

article {
    width: auto;
    margin: 50px auto;
    box-shadow:  5px 5px rgba(0, 0, 0, 0.25);
    align-items: center;
    display: block;
    margin: 15px;
    padding: 15px;
    background: white;
}

.post-date {
    color:grey;
}

article img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@media screen and (max-width: 700px) {
    header {
        width: 100%;
        height: auto;
        position: relative;
    }
    main {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    header a {
        text-align: center;
        float: none;
    }
}
